<a href="https://colab.research.google.com/github/2201204/BP_10_CH6/blob/main/EXE2201204_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.

In [5]:
for i in range(2, 102, 2):
  print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
2.

In [3]:
year = 0
balance = 1000

while balance <= 2000:
  year=year+1
  interest=balance*0.07
  balance=balance+interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [ ]:
3.

In [4]:
n=1234
sum=0
while n >0: # n이 0보다 클 때까지 while문을 실행함
  dight=n%10 # n을 10으로 나눈 나머지의 값을 digit에 저장
  sum=sum+dight # sum에 digit를 저장함
  n=n//10 #n을 10으로 나눈 몫으로 값을 변경함
print(sum) # while문을 끝까지 실행한 후에 sum을 출력함

10

In [ ]:
4.

In [9]:
x=int(input("3*9는"))
while(x!=27):
  x=int(input("3*9는"))
print("맞았습니다.")

3*9는8
3*9는9
3*9는27
맞았습니다.

In [ ]:
5.

In [18]:
a=int(input("정수를 입력하시오. :"))
sum=0
while True:
  if(a==0):break
  sum+=a
  a=int(input("정수를 입력하시오. :"))
print("합은", sum,"입니다.")

정수를 입력하시오. :1
정수를 입력하시오. :2
정수를 입력하시오. :3
정수를 입력하시오. :0
합은 6 입니다.

In [ ]:
6.

In [20]:
import random
for i in range(3):
  r=random.randint(1,6) # 1~6까지 랜덤한 수를 저장함
  print("첫번째 주사위=",r,end=" ") 
  r=random.randint(1,6) # 1~6까지 랜덤한 수를 저장함
  print("두번째 주사위=",r)

첫번째 주사위= 2 두번째 주사위= 3
첫번째 주사위= 3 두번째 주사위= 2
첫번째 주사위= 2 두번째 주사위= 2